.profile-container {
    .block {
        height: 100px;
    }
    .block1 {
        background-color: aquamarine;
    }
    .block2 {
        background-color:burlywood;
    }
    .block3 {
        background-color: chartreuse;
    }
}