@use './variables';

html {
    font-size: 10vw;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: variables.$text-color;
    margin: 0;
    padding: 0;
}