.tree-node {
    font-family: sans-serif;
    margin: 4px 0;
    font-size: 16px;
    color: #333;

    &-label {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    &-children {
        margin-left: 10px;
        border-left: 2px dashed #ccc;
        padding-left: 11px;
    }

    .icon {
        color: #ff9900;
        position: relative;
        top: 5px;
        font-size: 20px;
    }
}